body {
    background-color: rgb(217, 217, 217);
}

#carosel-container {
    margin-bottom: 20px;
}

#carosel-btn {
    height: 50px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
}

#carosel-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#carosel-icon {
    height: 24px;
    margin-right: 14px;
}

#carosel-text {
    margin-left: 38px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.12em;
    margin-top: 6px;
}

#text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.12em;
    margin-top: 6px;
}

#snapchat-container {
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    height: 65svh;
    min-height: 300px;
    background-color: white;
    border-radius: 40px;
    padding: 5px;
}

#description-container {
    margin-top: 60px;
    max-width: 50em;
}

#description-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
}

#description-text {
    margin-top: 16px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 1.12em;
}

#line-container {
    max-width: 50em;
}

#logo-container {
    max-width: 50em;
}

.logo_img {
    width: 125px;
}

#carosel-items-main {
    background-color: aqua;
    position: absolute;
    width: 100vw;
    height: 100px;
}

#carosel-items-container {
    max-width: 750px;
}

.row {
    height: 150px;
}

.col-sm {
    padding-top: 15px;
    padding-bottom: 15px;
}

#item-container {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 12px;
    margin: auto;
}

#carosel-items-btn-container {
   padding: 20px;
}

#carosel-items-btn {
    width: 220px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    cursor: pointer;
}

#carosel-items-btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

#carosel-btn-text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.12em;
    height: 100%;
}

.carosel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    padding: 4px;
}

#screenshot-camera {
    width: 50px;
    height: 50px;
    background-color: white;
    margin-top: -75px;
    border-radius: 37.5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screenshot-camera:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

#camera-img {
    width: 32px;
}

#send-email-div {
    width: 100vw;
    height: 100svh;
}

.btn-send-email {
    width: 120px;
    margin: 8px;
}

#input-mail {
    border-radius: 12px;
}

/* ---------------------- */

#main-div {
    width: 100vw;
    position: static;
}

#snapchat-main-div {
    width: 100vw;
    position: static;
    padding: 20px;
}

#carosel-items-div {
    width: 100vw;
    min-height: 100svh;
    position: absolute;
    display: none;
}